body {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 99, 90);
    margin-top: 2rem;
}

.form-container {
    background-color: rgb(248, 248, 248);
}

.legend {
    padding-left: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20rem;
    padding: 1rem;
}

.label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.header {
    text-align: center;
}

.input-invalid {
    background-color: pink;
}

.warning-text {
    color: red;
    margin: 0.5rem;
    margin-left: 0;
}

.warning-text-hidden {
    display: none;
}

.warning-text-visible {
    display: inline;
}

#submit-warning {
    margin-top: 1rem;
}

#submit {
    margin-top: 1rem;
}

.submit-succesful {
    color: green;
    margin: 0.5rem;
    margin-left: 0;
}