.form {
    display: flex;
    flex-direction: column;
}

.warning-text {
    color: red;
    margin: 0.5rem;
    margin-left: 0;
}

.warning-text-hidden {
    display: none;
}

.warning-text-visible {
    display: inline;
}

#submit-warning {
    margin-top: 1rem;
}

#submit {
    margin-top: 1rem;
}

.submit-succesful {
    color: green;
    margin: 0.5rem;
    margin-left: 0;
}