* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-image: url("/Background pattern.jpg");
}

.form-container {
    background-color: rgba(3, 13, 58, 0.5);
    border-radius: 1rem;
}

.legend {
    padding-left: 1.5rem;
    color: rgb(220, 228, 235)
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20rem;
    padding: 1rem;
    color: rgb(220, 228, 235)
}

.label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 0.5rem;
    background-color: rgb(45, 61, 136);
    border-radius: 0.5rem;
}

.label-text {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.header {
    text-align: center;
    font-weight: 400;
    color: rgb(220, 228, 235)
}

.input-invalid {
    background-color: pink;
}

.warning-text {
    color: #ff0000;
    font-weight: 400;
    margin: 0.5rem;
    margin-left: 0;
}

.warning-text-hidden {
    display: none;
}

.warning-text-visible {
    display: inline;
}

#submit-warning {
    margin-top: 1rem;
}

#submit {
    margin-top: 1rem;
}

.submit-succesful {
    color: green;
    margin: 0.5rem;
    margin-left: 0;
}